@import url('https://fonts.googleapis.com/css2?family=Poly&family=Poppins:wght@400;500;600;700&display=swap');

body{
font-family: 'Poppins', sans-serif;
}
.moni-con-txt{
    color:#0A0826;
}

.moni-member-button button{
    width: 45%;
    display: inline-block;
    margin:5px;
}
