@import url('https://fonts.googleapis.com/css2?family=Poly&family=Poppins:wght@400;500;600;700&display=swap');

body{
font-family: 'Poppins', sans-serif;
}
.moni-con-txt{
    color:#0A0826;
}
.moni-con-bgd{
    background-color: blue;
    color: white;
}